
@using PagedList;
@using PagedList.Mvc;

@using ShopMayTinh.Models

@model PagedList.PagedList<DONHANG>

@{
    ViewBag.Title = "Danh Sách ĐƠN ĐẶT HÀNG";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>DANH SÁCH ĐƠN ĐẶT HÀNG</h3>
<br>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Ngày lập đơn
                        </th>
                        <th>
                            Thành Tiền
                        </th>
                        <th>
                            Ngày giao hàng
                        </th>
                        <th>
                            Tình trạng giao
                        </th>
                        <th>
                            Tình trạng thanh toán
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KHACHHANG.TenKH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayLap)
                            </td>
                            <td>
                                @String.Format("{0:0,0}", item.ThanhTien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayGiao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DaThanhToan)
                            </td>

                            <td>
                                <a href="@Url.Action("chitietDH","Admin", new { id = item.MaDH })" class="btn btn-warning">Chi tiết</a>
                                <button type="button" data-toggle="modal" data-target="#@item.MaDH" class="btn btn-danger btn-sm">Xóa</button>

                                <!-- Modal -->
                                <div class="modal fade" id="@item.MaDH" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Bạn có chắc chắn muốn xóa đơn hàng này ?</h4>
                                            </div>
                                            <div style="color: red" class="modal-body">
                                                <b>@item.KHACHHANG.TenKH</b>
                                                <br>
                                                <b>@item.NgayLap</b>
                                                <br>
                                                <b>@item.ThanhTien</b>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="@Url.Action("XoaDH","Admin", new { @id = item.MaDH })" class="btn btn-danger">XÓA</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>


    <div class="col-md-12">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    </div>

    <div class="col-md-12">
        @Html.PagedListPager(Model, page => Url.Action("DSdonhang", "Admin", new { trang = page }))
    </div>
</div>
