
@{
    var email = (ShopMayTinh.Models.KHACHHANG)Session["Email"];
}

@{
    ViewBag.Title = "DangnhapDangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if ( Session["Email"] == null || Session["Email"].ToString() == "" )
{
<text>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#dangnhap"><b>ĐĂNG NHẬP</b></a></li>
    <li><a data-toggle="tab" href="#dangky"><b>ĐĂNG KÝ</b></a></li>
</ul>

<div class="tab-content">
    <div id="dangnhap" class="tab-pane fade in active">

        <br>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="emailDN">Email:</label>
                <div class="col-sm-10">

                   <input name="emailDN" type = "email" required = "required" class = "form-control" placeholder = "Nhập email">

                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label col-sm-2" for="passDN">Mật khẩu:</label>
                <div class="col-sm-10">
                  
                    <input name="passDN" type="text" required="required" class="form-control" placeholder="Nhập mật khẩu">

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox"> Nhớ đăng nhập</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Đăng nhập</button>
                    <br><br>
                </div>
            </div>
            <h4 style="color: red; text-align: center">@ViewBag.ThongbaoDN</h4>
        </form>
        }

    </div>


    <div id="dangky" class="tab-pane fade in">

        <br>


        <form action="/KhachHang/DangnhapDangky" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="hotenDK">Họ tên:</label>
                <div class="col-sm-10">
                    @Html.TextBox("hoten", null, new { type = "text", required = "required", @class = "form-control", placeholder = "Nhập họ tên" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="emailDK">Email:</label>
                <div class="col-sm-10">
                   @Html.TextBox("emailDK", null, new { type = "email", required = "required", @class="form-control", placeholder="Nhập email" } )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="passDK">Mật khẩu:</label>
                <div class="col-sm-10">
                    @Html.TextBox("passDK", null, new { type = "password", required = "required", @class = "form-control", placeholder = "Nhập mật khẩu", onchange = "if(this.checkValidity()) form.pass2.pattern = this.value;" } )           
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pass2">Nhập lại MK:</label>
                <div class="col-sm-10">
                    @Html.TextBox("pass2", null, new { type = "password", required = "required", @class = "form-control", placeholder = "Nhập lại mật khẩu", onchange = "this.setCustomValidity(this.validity.patternMismatch ? 'Nhập lại mật khẩu chưa khớp !' : '');" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="diachiDK">Địa chỉ:</label>
                <div class="col-sm-10">
                    @Html.TextBox("diachi", null, new { type = "text", required = "required", @class = "form-control", placeholder = "Nhập địa chỉ giao hàng" } )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="sdtDK">Số điện thoại:</label>
                <div class="col-sm-10">
                    @Html.TextBox("phone", null, new { type = "tel", required = "required", @class = "form-control", placeholder = "Nhập số điện thoại" } )
                </div>
            </div>

            <div class="form-group">
                <div style="margin-top: 12px; margin-bottom: 12px;" class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Đăng ký</button>
                </div>
            </div>
        </form>

    </div>
</div>
</text>
}

else
{
    <text>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#dangnhap"><b>ĐĂNG NHẬP</b></a></li>
            <li><a data-toggle="tab" href="#dangky"><b>ĐĂNG KÝ MỚI</b></a></li>
        </ul>

        <div class="tab-content">
            <div id="dangnhap" class="tab-pane fade in active">

                <br>

              <center>
                  <h3>Xin chào tài khoản @email.Email</h3>
                  <br>

                  <a href="@Url.Action("SuaTK","KhachHang")" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span><b>Sửa tài khoản</b></a>

                  <a href="@Url.Action("DangXuat","KhachHang")" class="btn btn-primary"><b>ĐĂNG XUẤT</b></a>

              </center>

            </div>


            <div id="dangky" class="tab-pane fade in">

                <br>

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="hotenDK">Họ tên:</label>
                            <div class="col-sm-10">
                                @Html.TextBox("hoten", null, new { type = "text", required = "required", @class = "form-control", placeholder = "Nhập họ tên" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="emailDK">Email:</label>
                            <div class="col-sm-10">
                                @Html.TextBox("emailDK", null, new { type = "email", required = "required", @class = "form-control", placeholder = "Nhập email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="passDK">Mật khẩu:</label>
                            <div class="col-sm-10">
                                @Html.TextBox("passDK", null, new { type = "password", required = "required", @class = "form-control", placeholder = "Nhập mật khẩu", onchange = "if(this.checkValidity()) form.pass2.pattern = this.value;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pass2">Nhập lại MK:</label>
                            <div class="col-sm-10">
                                @Html.TextBox("pass2", null, new { type = "password", required = "required", @class = "form-control", placeholder = "Nhập lại mật khẩu", onchange = "this.setCustomValidity(this.validity.patternMismatch ? 'Nhập lại mật khẩu chưa khớp !' : '');" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="diachiDK">Địa chỉ:</label>
                            <div class="col-sm-10">
                                @Html.TextBox("diachi", null, new { type = "text", required = "required", @class = "form-control", placeholder = "Nhập địa chỉ giao hàng" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="sdtDK">Số điện thoại:</label>
                            <div class="col-sm-10">
                                @Html.TextBox("phone", null, new { type = "tel", required = "required", @class = "form-control", placeholder = "Nhập số điện thoại" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div style="margin-top: 12px; margin-bottom: 12px;" class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Đăng ký</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </text>
}
